<section id="services" class="sect-pt-4 mt-3">
  <div class="container">
      <div class="services-content pt-4 mt-4 ">
          <div class="row">
              <div class="col-12">
                  <div class="services-title mb-5">
                      <h3 class="text-uppercase text-main">Who is Our project for</h3>
                      <div class="line m-auto mt-3"></div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-4  p-4">
                  <div class="service-box rounded-4 text-center bg-form pb-1">
                      <div class="service-icon d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-book-open-reader"></i>
                      </div>
                      <div class="service-content ">
                        <h3 class="text-main">Anyone with access to the Internet</h3>
                        <p class="text-main">Our project is for anyone who just needs to get the gist of a long article. You can read this summary, then go read the original article if you want to.</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-4  p-4">
                  <div class="service-box rounded-4 text-center bg-form">
                      <div class="service-icon d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-graduation-cap"></i>
                      </div>
                      <div class="service-content">
                        <h3 class="text-main">Students</h3>
                        <!-- <p class="text-main">Our project is for students studying for exams, who are overwhelmed by information overload. This tool will help them summarize information into a concise, easy to digest piece of text.</p> -->
                        <p class="text-main">Our project is for students studying for exams who are overwhelmed by information overload. This tool helps them summarize information into a concise, easy-to-digest text.</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-4  p-4">
                  <div class="service-box rounded-4 text-center bg-form">
                      <div class="service-icon d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-pen"></i>
                      </div>
                      <div class="service-content">
                        <h3 class="text-main">Writers</h3>
                        <p class="text-main">Our project is for anyone who writes frequently and wants to quickly summarize their articles for easier writing, easier reading, better organization, and improved clarity.</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-4  p-4">
                  <div class="service-box rounded-4 text-center bg-form">
                      <div class="service-icon d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-chalkboard-user"></i>
                      </div>
                      <div class="service-content">
                        <h3 class="text-main">Teachers</h3>
                        <p class="text-main">Our project is for teachers who want to summarize a long document or chapter for their students, making it easier to review, understand, retain, and teach effectively.</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-4  p-4">
                  <div class="service-box rounded-4 text-center bg-form">
                      <div class="service-icon d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-building-columns"></i>
                      </div>
                      <div class="service-content">
                        <h3 class="text-main">Institutions</h3>
                        <p class="text-main">Our project is for  corporations and institutions who want to condense a piece of content into a summary that is easy to digest for their employees/students.</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-4  p-4">
                  <div class="service-box rounded-4 text-center bg-form">
                      <div class="service-icon d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-newspaper"></i>
                      </div>
                      <div class="service-content">
                        <h3 class="text-main">Journalists</h3>
                        <p class="text-main">Our project is for journalists who need to summarize a long article for their newspaper or magazine, ensuring it is concise, engaging, well-structured, and impactful.</p>
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </div>
</section>
