<div class="about-us">
  <div class="team-container">
    <div class="team-card  rounded-4">
      <img src="images/mohamed.png" alt="Mohamed Mahmoud">
      <h4>Mohamed Mahmoud</h4>
      <!-- <p>Frontend Developer with 3 years of experience in building responsive websites.</p> -->
      <p>Backend Developer skilled in Node.js, Python, and cloud infrastructure.</p>

      <div class="social-icons">
      <a href="https://www.linkedin.com/in/mohamed-mahmoud-233421263/" target="_blank"><i class="fa-brands fa-linkedin text-main"></i></a>
      <a href="https://github.com/MohamedMahmoud01110" target="_blank"><i class="fa-brands fa-github text-main"></i></a>
      </div>
    </div>
    <div class="team-card rounded-4">
      <img src="images/zizoooo.jpg" alt="Mohamed Ahmed">
      <h4>Mohamed Abd El-aziz</h4>
      <p>Backend Developer skilled in Node.js, Python, and cloud infrastructure.</p>
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/mohamed-abd-el-aziz-04731b262/" target="_blank"><i class="fa-brands fa-linkedin text-main"></i></a>
        <a href="https://github.com/MohamedZizo2003" target="_blank"><i class="fa-brands fa-github text-main"></i></a>
      </div>
    </div>
    <div class="team-card rounded-4">
      <img src="images/bedo.jpg" alt="Team Member 2">
      <h3>Abdelkhalek Mohamed</h3>
      <p>Backend Developer skilled in Node.js, Python, and cloud infrastructure.</p>
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/abdelkhalek-mohamed/" target="_blank"><i class="fa-brands fa-linkedin text-main"></i></a>
        <a href="https://github.com/AbdelkhalekAI" target="_blank"><i class="fa-brands fa-github text-main"></i></a>
      </div>
    </div>
    <div class="team-card rounded-4">
      <img src="images/ahmed.jpg" alt="Team Member 2">
      <h3>Ahmed Osama</h3>
      <p>Backend Developer skilled in Node.js, Python, and cloud infrastructure.</p>
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/ahmed-osama-289bb0288/" target="_blank"><i class="fa-brands fa-linkedin text-main"></i></a>
        <a href="https://github.com/Ahmed-Osama-Fawzy" target="_blank"><i class="fa-brands fa-github text-main"></i></a>
      </div>
    </div>

  </div>
</div>
