<div class="about-us">
  <div class="team-container">
    <div class="team-card">
      <img src="images/e.png" alt="Team Member 1">
      <h3>Jane Smith</h3>
      <!-- <p>Frontend Developer with 3 years of experience in building responsive websites.</p> -->
      <p>Backend Developer skilled in Node.js, Python, and cloud infrastructure.</p>

      <div class="social-icons">
      <a href="https://www.linkedin.com/in/mohamed-mahmoud-233421263/" target="_blank"><i class="fa-brands fa-linkedin text-main"></i></a>
      <a href="https://github.com/MohamedMahmoud01110" target="_blank"><i class="fa-brands fa-github text-main"></i></a>
      <a href="https://www.instagram.com/mohamed_mahmoud0110/" target="_blank"><i class="fa-brands fa-instagram text-main"></i></a>
      </div>
    </div>
    <div class="team-card">
      <img src="images/e.png" alt="Team Member 2">
      <h3>Jane Smith</h3>
      <p>Backend Developer skilled in Node.js, Python, and cloud infrastructure.</p>
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/mohamed-mahmoud-233421263/" target="_blank"><i class="fa-brands fa-linkedin text-main"></i></a>
        <a href="https://github.com/MohamedMahmoud01110" target="_blank"><i class="fa-brands fa-github text-main"></i></a>
        <a href="https://www.instagram.com/mohamed_mahmoud0110/" target="_blank"><i class="fa-brands fa-instagram text-main"></i></a>
      </div>
    </div>
    <div class="team-card">
      <img src="images/e.png" alt="Team Member 2">
      <h3>Jane Smith</h3>
      <p>Backend Developer skilled in Node.js, Python, and cloud infrastructure.</p>
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/mohamed-mahmoud-233421263/" target="_blank"><i class="fa-brands fa-linkedin text-main"></i></a>
        <a href="https://github.com/MohamedMahmoud01110" target="_blank"><i class="fa-brands fa-github text-main"></i></a>
        <a href="https://www.instagram.com/mohamed_mahmoud0110/" target="_blank"><i class="fa-brands fa-instagram text-main"></i></a>
      </div>
    </div>
    <div class="team-card">
      <img src="images/e.png" alt="Team Member 2">
      <h3>Jane Smith</h3>
      <p>Backend Developer skilled in Node.js, Python, and cloud infrastructure.</p>
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/mohamed-mahmoud-233421263/" target="_blank"><i class="fa-brands fa-linkedin text-main"></i></a>
        <a href="https://github.com/MohamedMahmoud01110" target="_blank"><i class="fa-brands fa-github text-main"></i></a>
        <a href="https://www.instagram.com/mohamed_mahmoud0110/" target="_blank"><i class="fa-brands fa-instagram text-main"></i></a>
      </div>
    </div>
    <div class="team-card">
      <img src="images/e.png" alt="Team Member 2">
      <h3>Jane Smith</h3>
      <p>Backend Developer skilled in Node.js, Python, and cloud infrastructure.</p>
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/mohamed-mahmoud-233421263/" target="_blank"><i class="fa-brands fa-linkedin text-main"></i></a>
        <a href="https://github.com/MohamedMahmoud01110" target="_blank"><i class="fa-brands fa-github text-main"></i></a>
        <a href="https://www.instagram.com/mohamed_mahmoud0110/" target="_blank"><i class="fa-brands fa-instagram text-main"></i></a>
      </div>
    </div>
  </div>
</div>
