<section id="login" class="">

  <div class="w-50 mx-auto login-form ">
      <div class="text-center custom__shadow p-5">
          <h1 class="text-main mb-5">Login Now</h1>

          <form class="my-4">

              <input id="loginEmail" class="form-control mb-4" type="email" placeholder="Enter Your Email">

              <input id="loginPassword" class="form-control mb-4" type="password"
                  placeholder="Enter Your Password">

              <div id="loginErrorMsg" class="d-none text-danger mb-3">
              </div>

              <button id="btnLogin" class="btn bgg-secondary hh w-100 mb-3">Log In</button>

              <span class="text-main fw-bold">
                  Don't have an account? <a id="signUpLink"
                      class="" href="/signUp">Sign
                      up</a>
              </span>
          </form>
      </div>
  </div>
</section>
